.img-100{
    width:100%;
}
.w-40 {
    width: 40px;
}
.w-120{
    width: 120px;
}
.w-100{
    width: 100%;
}
/* padding & margin */
.p-20 {
    padding: 20px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.plr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pt-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.p-10 {
    padding: 10px;
}

.pt-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

/* border */
.br-6 {
    border-radius: 8px;
}

.br-50 {
    border-radius: 50%;
}

/* flex */
.df {
    display: flex;
}

.dp {
    display: block;
}

.jc-sb {
    display: flex;
    justify-content: space-between;
}
.jc-c{
    justify-content: center;
}

.ai-c {
    align-items: center;
}

/* color */
.c-p {
    color: #888;
}

.c-bl {
    color: black;
}

.c-wh {
    color: white;
}

.bg-wh {
    background-color: white;
}

/* grid */
.dg {
    display: grid;
}

.gtc-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gtc-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gtc-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* .0.. */
.tc {
    text-align: center;
}

/* font */
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fw-100 {
    font-weight: 100;
}

.fw-500 {
    font-weight: 500;
}

.fw-b {
    font-weight: bold;
}

.lh-1-6 {
    line-height: 1.6;
}
